.headlinr-nav {
    background-color: @darkPurple;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    h1 {
        color: @white;
        font-size: 28px !important;
    }

    .spacer {
        flex: 1;
    }

    .user-info {
        display: flex;
        align-items: center;
        flex-direction: row;

        img {
            height: 24px;
            margin-right: 10px;
        }

        &:hover {
            color: white;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}