<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Electron Boilerplate</title>

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">


    <script src="helpers/context_menu.js"></script>
    <script src="helpers/external_links.js"></script>
</head>
<body>
    <div id="app" class="headlinr">
        <div class="headlinr-nav" v-if="state.game || state.stats">
            <h1 v-on:click="moveState('game')">headlinr</h1>
            <div class="spacer"></div>
            <div class="user-info" v-on:click="moveState('stats')">
                <img src="http://bulma.io/images/placeholders/96x96.png"/>
                <p class="white">{{user.info.first}} {{user.info.last}}</p>
            </div>
        </div>
        <div class="start" v-if="state.start">
            <div class="start-screen">
                <div class="welcome">
                    <h1 class="darkPurple">Welcome to headlinr</h1>
                    <h3>Everyone has an opinion.<br>Wouldn't you like to share yours?<br>Sign up now:</h3>
                </div>
                <p>Email</p>
                <input type="text" placeholder="joeshmo@email.com"></input>
                <p>First name</p>
                <input type="text" placeholder="Joe" v-model="user.info.first"></input>
                <p>Last name</p>
                <input type="text" placeholder="Shmo" v-model="user.info.last" v-on:keyup.enter="startGame"></input>
                <h5 class="btn backPurple fullWidth mgn-top-10" v-on:click="startGame">Sign-up!</h5>
            </div>
        </div>
        <div class="upgrades" v-if="upgrades">
            <div class="upgrades-container">
                <h1>{{user.score.famePoints}} Fame left!</h1>
                <div class="power-ups">
                    <div class="power-up-container">
                        <img src="./img/connections.png"/>
                        <h2>Connections</h2>
                        <p>{{upgradeSystem.connectionsText}}</p>
                        <h5 class="btn backGreen fullWidth" v-on:click="upgradeSystem.upgrade('connections', game)">Spend Points!</h5>
                    </div>
                    <div class="power-up-container">
                        <img src="./img/trends.png"/>
                        <h2>Trends</h2>
                        <p>{{upgradeSystem.trendsText}}</p>
                        <h5 class="btn backPurple fullWidth" v-on:click="upgradeSystem.upgrade('trends')">Spend Points!</h5>
                    </div>
                    <div class="power-up-container">
                        <img src="./img/dashboard.png"/>
                        <h2>Dashboard</h2>
                        <h5 class="btn backMedPurple fullWidth" v-on:click="">Spend Points!</h5>
                    </div>
                    <div class="power-up-container">
                        <img src="./img/automation.png"/>
                        <h2>Automation</h2>
                        <h5 class="btn backBlack fullWidth" v-on:click="">Spend Points!</h5>
                    </div>
                </div>
                <h1 v-on:click="upgrades = false">Done</h1>
            </div>
        </div>
        <div class="stats" v-if="state.stats">
            <div class="column left">

            </div>
            <div class="column middle">
                <div class="userInput">
                    <div class="headline-submission">
                        <img src="http://bulma.io/images/placeholders/96x96.png"/>
                        <input type="text" placeholder="Post a headline" v-on:click="pause = true" v-model="user.headline" v-on:keyup.enter="submitHeadline"></input>
                    </div>
                    <h5 class="btn backPurple fullWidth" v-on:click="submitHeadline">Add Headline</h5>
                </div>
                <transition-group name="headline-add">
                    <div class="post headline-add-item" v-if="game.headlines" v-for="(item, i) in game.userHeadlines" v-bind:key="item">
                        <div class="head">
                            <div class="info">
                                <div class="thumbnail">
                                    <img class="portrait" v-bind:src="resolvePic(item.user.info.pic)" alt="Image">
                                </div>
                                <div class="name">
                                    <h3 class="title">{{item.postName.first}} {{item.postName.last}}</h3>
                                    <p>{{time}}</p>
                                </div>
                                <div class="score">
                                    <h1 v-bind:class="{darkPurple: item.score >= 0, mediumPurple: item.score < 0}">{{item.score}}</h1>
                                </div>
                            </div>
                            <div class="content">
                                <h1>{{item.headline}}</h1>
                            </div>
                            <div class="buttons">
                                <a class="like" v-bind:class="{liked: item.isLiked}" v-on:click="likePost(i)"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a>
                                <a class="dislike" v-bind:class="{disliked: item.isDisliked}" v-on:click="dislikePost(i)"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike</a>
                            </div>
                        </div>
                        <div class="commentSection">
                            <transition-group name="comment-add" tag="div">
                                <div class="comment commend-add-item" v-for="comment in item.comments"  v-bind:key="comment">
                                    <div class="thumbnail">
                                        <img class="portrait" v-bind:src="resolvePic(comment.user.info.pic)" alt="Image">
                                    </div>
                                    <div class="content">
                                        <h4>{{comment.commentName.first}} {{comment.commentName.last}}</h4>
                                        <h3>{{comment.comment}}</h3>
                                    </div>
                                </div>
                            </transition-group>
                        </div>
                        <div class="userComment">
                            <div class="thumbnail">
                                <img class="portrait" src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                            </div>
                            <input type="text" placeholder="Comment..." v-on:click="pause = true" v-model="item.commentValue" v-on:keyup.enter="addComment(i)"></input>
                        </div>
                        <div class="submitComment" v-on:click="addComment(i)">
                            <h5>Submit Comment</h5>
                        </div>
                    </div>
                </transition-group>
            </div>
            <div class="colum right">
            
            </div>
        </div>
        <div class="game" v-if="state.game">
            <div class="column left">
                <div class="panel">
                    <h2>Your score:</h2>
                    <h1 class="darkPurple">{{user.score.likes}} <p>Likes</p></h1>
                    <h1 class="mediumPurple">{{user.score.comments}} <p>Comments</p></h1>
                    <h1>{{game.users.length}} <p>Connections</p></h1>
                    <hr></hr>
                    <h2>Fame Points:</h2>
                    <h1>{{user.score.famePoints}}</h1>
                    <h5 class="btn backGreen fullWidth" v-on:click="upgrades = true">Spend Points!</h5>
                </div>
            </div>
            <div class="column middle">
                <div class="userInput">
                    <div class="headline-submission">
                        <img src="http://bulma.io/images/placeholders/96x96.png"/>
                        <input type="text" placeholder="Post a headline" v-on:click="pause = true" v-model="user.headline" v-on:keyup.enter="submitHeadline"></input>
                    </div>
                    <h5 class="btn backPurple fullWidth" v-on:click="submitHeadline">Add Headline</h5>
                </div>
                <transition-group name="headline-add">
                    <div class="post headline-add-item" v-if="game.headlines" v-for="(item, i) in game.headlines" v-bind:key="item">
                        <div class="head">
                            <div class="info">
                                <div class="thumbnail">
                                    <img class="portrait" v-bind:src="resolvePic(item.user.info.pic)" alt="Image">
                                </div>
                                <div class="name">
                                    <h3 class="title">{{item.postName.first}} {{item.postName.last}}</h3>
                                    <p>{{time}}</p>
                                </div>
                                <div class="score">
                                    <h1 v-bind:class="{darkPurple: item.score >= 0, mediumPurple: item.score < 0}">{{item.score}}</h1>
                                </div>
                            </div>
                            <div class="content">
                                <h1>{{item.headline}}</h1>
                            </div>
                            <div class="buttons">
                                <a class="like" v-bind:class="{liked: item.isLiked}" v-on:click="likePost(i)"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a>
                                <a class="dislike" v-bind:class="{disliked: item.isDisliked}" v-on:click="dislikePost(i)"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike</a>
                            </div>
                        </div>
                        <div class="commentSection">
                            <transition-group name="comment-add" tag="div">
                                <div class="comment commend-add-item" v-for="comment in item.comments"  v-bind:key="comment">
                                    <div class="thumbnail">
                                        <img class="portrait" v-bind:src="resolvePic(comment.user.info.pic)" alt="Image">
                                    </div>
                                    <div class="content">
                                        <h4>{{comment.commentName.first}} {{comment.commentName.last}}</h4>
                                        <h3>{{comment.comment}}</h3>
                                    </div>
                                </div>
                            </transition-group>
                        </div>
                        <div class="userComment">
                            <div class="thumbnail">
                                <img class="portrait" src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                            </div>
                            <input type="text" placeholder="Comment..." v-on:click="pause = true" v-model="item.commentValue" v-on:keyup.enter="addComment(i)"></input>
                        </div>
                        <div class="submitComment" v-on:click="addComment(i)">
                            <h5>Submit Comment</h5>
                        </div>
                    </div>
                </transition-group>
            </div>
            <div class="column right">
                <div class="trends-panel">
                    <h2>Trending Now:</h2>
                    <h6 v-for="item in game.topics">{{item}}</h6>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
    <script>require("electron-connect").client.create()</script>
</body>
</html>
