/*Fonts --------------------------------------------------------------
----------------------------------------------------------------------
----------------------------------------------------------------------
--------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:500,700,800');
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1 {
  color: #393D3F;
  font-family: 'Montserrat' !important;
  font-weight: 800 !important;
  font-size: 36px !important;
}
h2 {
  color: #393D3F;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
}
h3 {
  color: #393D3F;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
h4 {
  color: #393D3F;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
}
h5 {
  color: #4F2D87;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
}
h6 {
  color: #7CC7A9;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
p {
  color: #5E6572;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
}
a {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
}
/*Forms --------------------------------------------------------------
----------------------------------------------------------------------
----------------------------------------------------------------------
--------------------------------------------------------------------*/
.btn {
  background-color: #4F2D87;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  padding: 10px;
  text-align: center;
  transition: all .5s;
  user-select: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #7040bf;
  box-shadow: 0px 0px 20px -5px #393D3F;
}
.btn.inverse {
  background-color: transparent;
  border: 1px solid #4F2D87;
  border-radius: 3px;
  color: #4F2D87;
  padding: 10px 50px;
}
.btn.inverse:hover {
  background-color: #4F2D87;
  color: #F0F1ED;
}
.btn.backGreen {
  background-color: #7CC7A9;
}
.btn.backGreen:hover {
  background-color: #40bf8c;
}
.btn.backPurple {
  background-color: #4F2D87;
}
.btn.backPurple:hover {
  background-color: #7040bf;
}
.btn.backMedPurple {
  background-color: #6A66A3;
}
.btn.backMedPurple:hover {
  background-color: #433d8f;
}
.btn.backBlack {
  background-color: #393D3F;
}
.btn.backBlack:hover {
  background-color: #171a1c;
}
.fullWidth {
  width: 100%;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.border.darkPurple {
  border-color: #4F2D87;
}
.border.green {
  border-color: #7CC7A9;
}
.border.medPurple {
  border-color: #6A66A3;
}
.border.black {
  border-color: #393D3F;
}
input {
  border: 1px solid #AAACA9;
  border-radius: 3px;
  color: #5E6572;
  box-sizing: border-box;
  font-family: 'Lato';
  font-size: 18px;
  flex: 1;
  margin-left: 15px;
  padding: 10px;
  position: relative;
  transition: all .2s;
}
input:focus {
  border-bottom: 5px solid #6A66A3;
  outline: none;
}
/*Helpers ------------------------------------------------------------
----------------------------------------------------------------------
----------------------------------------------------------------------
--------------------------------------------------------------------*/
.mgn-btm-10 {
  margin-bottom: 10px;
}
.mgn-right-10 {
  margin-right: 10px;
}
.mgn-top-10 {
  margin-top: 10px;
}
.mgn-left-10 {
  margin-left: 10px;
}
.white {
  color: white;
}
.mediumGray {
  color: #5E6572;
}
.darkGray {
  color: #393D3F;
}
.darkPurple {
  color: #4F2D87 !important;
}
.mediumPurple {
  color: #6A66A3 !important;
}
.raised {
  box-shadow: 0px 0px 20px -5px #393D3F;
}
.thumbnail {
  background-color: #393D3F;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
  background-color: white;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #6A66A3;
  border-radius: 10px;
}
/*Animations ---------------------------------------------------------
----------------------------------------------------------------------
----------------------------------------------------------------------
--------------------------------------------------------------------*/
.headline-add-item {
  transition: all 1s;
}
.headline-add-enter,
.headline-add-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}
.headline-add-leave-active {
  position: absolute;
}
.comment-add-item {
  transition: all 1s;
}
.comment-add-enter,
.comment-add-leave-to {
  opacity: 0;
  transform: translateY(40px);
}
.comment-add-leave-active {
  position: absolute;
}
@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  1% {
    transform: rotate(-5deg);
  }
  2% {
    transform: rotate(5deg);
  }
  3% {
    transform: rotate(-5deg);
  }
  4% {
    transform: rotate(0deg);
  }
}
.wiggle {
  -webkit-animation: wiggle 10s infinite;
}
.dashboard {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 60px;
}
.dashboard .graphs-container {
  display: flex;
  flex-direction: row;
}
.dashboard .graphs-container .graphs-column {
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
}
.dashboard .graphs-container .graphs-column.large {
  flex: 2;
}
.dashboard .graphs-container .graphs-column .graph-padding {
  border: 1px solid #AAACA9;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}
.dashboard .graphs-container .graphs-column .bar-container {
  align-items: center;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.dashboard .graphs-container .graphs-column .bar-container.left {
  text-align: left;
}
.dashboard .graphs-container .graphs-column .bar-container.right {
  justify-content: flex-end;
  text-align: right;
}
.dashboard .graphs-container .graphs-column .bar-container .bar {
  margin-right: 10px;
  padding: 5px 10px;
}
.dashboard .graphs-container .graphs-column .bar-container .bar p {
  color: #F0F1ED;
}
.dashboard .graphs-container .graphs-column .bar-container .bar.negative {
  margin-right: 0;
  margin-left: 10px;
}
.dashboard .graphs-container .graphs-column .bar-container .bar.green {
  background-color: #7CC7A9;
}
.dashboard .graphs-container .graphs-column .bar-container .bar.blue {
  background-color: #08B2E3;
}
.dashboard .graphs-container .graphs-column .bar-container .bar.yellow {
  background-color: #EAC435;
}
.dashboard .graphs-container .graphs-column .bar-container .bar.purple {
  background-color: #6A66A3;
}
.dashboard .graphs-container .graphs-column .text-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.dashboard .graphs-container .graphs-column .text-container h3 {
  font-size: 20px;
}
.dashboard .graphs-container .graphs-column .text-container .feeling {
  color: white;
  padding: 10px;
  margin-left: 10px;
}
.dashboard .graphs-container .graphs-column .text-container .feeling.good {
  background-color: #7CC7A9;
}
.dashboard .graphs-container .graphs-column .text-container .feeling.neutral {
  background-color: #5E6572;
}
.dashboard .graphs-container .graphs-column .text-container .feeling.bad {
  background-color: #6A66A3;
}
.userInput {
  margin-bottom: 20px;
}
.userInput .headline-submission {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.userInput .headline-submission img {
  height: 70px;
  width: auto;
}
.userInput .headline-submission input {
  box-sizing: border-box;
  font-size: 24px;
  flex: 1;
  margin-left: 10px;
  padding: 20px;
}
.post {
  background-color: white;
  border: 1px solid #AAACA9;
  border-bottom: 3px solid #AAACA9;
  border-radius: 3px;
  display: flex;
  height: auto;
  flex-direction: column;
  margin-bottom: 20px;
}
.post .head {
  padding: 15px;
  border-bottom: 1px solid #AAACA9;
}
.post .head .info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.post .head .info .name {
  flex: 1;
  margin-left: 15px;
}
.post .head .info .score h1 {
  color: #4F2D87;
}
.post .head .content {
  padding: 10px 0;
}
.post .head .buttons {
  padding: 10px 0;
}
.post .head .buttons a {
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px;
}
.post .head .buttons .like {
  color: #4F2D87;
}
.post .head .buttons .liked {
  background-color: #4F2D87;
  color: white;
}
.post .head .buttons .like:hover {
  color: white;
  cursor: pointer;
  background-color: #4F2D87;
}
.post .head .buttons .dislike {
  color: #6A66A3;
}
.post .head .buttons .disliked {
  background-color: #6A66A3;
  color: white;
}
.post .head .buttons .dislike:hover {
  color: white;
  cursor: pointer;
  background-color: #6A66A3;
}
.post .moreComments {
  border-bottom: 1px solid #AAACA9;
  padding: 10px 15px;
}
.post .moreComments a {
  color: #4F2D87;
}
.post .moreComments a:hover {
  text-decoration: underline;
}
.post .commentSection {
  display: flex;
  flex-direction: column;
  height: auto;
}
.post .commentSection .comment {
  background-color: #F0F1ED;
  border-bottom: 1px solid #AAACA9;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.post .commentSection .comment .content {
  margin-left: 15px;
  flex: 1;
}
.post .commentSection .comment .content h4 {
  margin-bottom: 5px;
}
.post .userComment {
  border-bottom: 1px solid #AAACA9;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.post .submitComment {
  padding: 15px;
  text-align: center;
}
.post .submitComment:hover {
  background-color: #4F2D87;
  cursor: pointer;
}
.post .submitComment:hover h5 {
  color: white;
}
.headlinr-nav {
  background-color: #4F2D87;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.headlinr-nav h1 {
  color: #F0F1ED;
  font-size: 28px !important;
}
.headlinr-nav .spacer {
  flex: 1;
}
.headlinr-nav .user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.headlinr-nav .user-info img {
  height: 24px;
  margin-right: 10px;
}
.headlinr-nav .user-info:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.start {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('../img/millenials.jpg');
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start .start-screen {
  background-color: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  padding: 25px;
  width: 500px;
}
.start .start-screen h1 {
  margin-bottom: 10px;
}
.start .start-screen .welcome {
  text-align: center;
  margin-bottom: 20px;
}
.start .start-screen p {
  margin-bottom: 7px;
}
.start .start-screen input {
  width: 100%;
  margin-left: 0;
  margin-bottom: 10px;
  text-align: center;
}
.start .start-screen .start-button {
  background-color: #4F2D87;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}
.start .start-screen .start-button:hover {
  cursor: pointer;
}
.upgrades {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 101;
}
.upgrades .upgrades-container {
  align-items: center;
  background-color: #F0F1ED;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.upgrades .upgrades-container .close {
  color: #4F2D87;
  position: absolute;
  font-size: 50px;
  padding-right: 15px;
  padding-top: 5px;
  top: 0;
  right: 0;
}
.upgrades .upgrades-container .close:hover {
  cursor: pointer;
}
.upgrades .upgrades-container .power-ups {
  display: flex;
  padding: 40px 0px;
  width: 90%;
}
.upgrades .upgrades-container .power-ups .power-up-container {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  width: 25%;
}
.upgrades .upgrades-container .power-ups .power-up-container p {
  margin-bottom: auto;
  padding-bottom: 20px;
}
.upgrades .upgrades-container .power-ups .power-up-container .btm {
  margin-top: auto;
}
.upgrades .upgrades-container .power-ups .power-up-container img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.game,
.start,
.stats {
  display: flex;
  width: 100%;
  height: 100%;
}
.game {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 60px;
}
.stats {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 60px;
}
.headlinr {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.headlinr .column {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.headlinr .left {
  flex: 1;
}
.headlinr .left h1 {
  margin-bottom: 15px;
}
.headlinr .left h1 p {
  display: inline;
}
.headlinr .left h2 {
  margin-bottom: 15px;
}
.headlinr .left hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #5E6572;
  margin: 1em 0;
  padding: 0;
}
.headlinr .left .panel {
  background-color: #efefef;
  border-radius: 3px;
  padding: 15px;
}
.headlinr .middle {
  flex: 2;
}
.headlinr .right {
  flex: 1;
}
.headlinr .right .trends-panel {
  border-radius: 3px;
  border: 1px solid #AAACA9;
  padding: 15px;
}
.headlinr .right h2 {
  margin-bottom: 10px;
}
