@import './mainStyles.less';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: none;
}

a {
    text-decoration: none;
}

.game, .start, .stats {
    display: flex;
    width: 100%;
    height: 100%;
}

.start {
    background-color: rgba(0,0,0,.2);
    background-image: url('../img/millenials.jpg');
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .start-screen {
        background-color: rgba(255,255,255,.85);
        box-sizing: border-box;
        padding: 25px;
        width: 500px;

        h1 {
            margin-bottom: 10px;
        }

        .welcome {
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 7px;
        }

        input {
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;
            text-align: center;
        }

        .start-button {
            background-color: @darkPurple;
            box-sizing: border-box;
            color: white;
            display: inline-block;
            text-align: center;
            margin-top: 10px;
            padding: 10px;
            width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.stats {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .stats-welcome {
        text-align: center;
        width: 500px;
    }
}

.game {
    padding: 20px;
}

.headlinr-nav {
    background-color: @darkPurple;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    h1 {
        color: @white;
        font-size: 28px !important;
    }

    .spacer {
        flex: 1;
    }

    .user-info {
        display: flex;
        align-items: center;
        flex-direction: row;

        img {
            height: 24px;
            margin-right: 10px;
        }
    }
}

.headlinr-score-tracker {
    background-color: white;
    border-top: 1px solid @darkGray;
    box-shadow: 0px -2px 4px @lightGray;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;

    > div {
        position: relative;
        flex: 1;
        padding: 15px;
        text-align: center;

        h6 {
            position: relative;
        }

        &:nth-child(3) {
            border-right: 1px solid @darkGray;
            border-left: 1px solid @darkGray;
        }

        .tracker {
            position: absolute;
            height: 5px;
            top: 0;
            left: 0;
            right: 0;

            .progress {
                background-color: @green;
                height: 100%;
                max-width: 100%;
            }
        }
    }

    .next-level-button {
        position: absolute;
        right: 0;
        opacity: 1;
        top: -90px;
        transition: all .5s;

        &.inactive {
            top: 50px;
            opacity: 0;
        }
    }
}

.headlinr {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .column {
        display: flex;
        margin-top: 50px;
        padding: 20px;
    }

    .left {
        display: flex;
        flex: 1;
        flex-direction: column;

        h2 {
            margin-bottom: 15px;
        }

        .connections-panel {
            background-color: @white;
            border-radius: 5px;
            padding: 15px;

            .connection {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                .info {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    margin-bottom: 10px;

                    p {
                        flex: 1;
                        margin-left: 10px;
                    }
                }

                .feelings-container {
                    box-sizing: border-box;
                    border: 1px solid @lightGray;
                    width: 100%;
                    height: 5px;

                    .feelings {
                        background-color: @green;
                        height: 100%;
                        transition: width .5s;
                    }
                }
            }
        }
    }

    .middle {
        display: flex;
        flex: 2;
        flex-direction: column;

        .userInput {
            margin-bottom: 20px;

            .headline-submission {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                img {
                    height: 70px;
                    width: auto;
                }

                input {
                    box-sizing: border-box;
                    font-size: 24px;
                    flex: 1;
                    margin-left: 10px;
                    padding: 20px;
                }
            }
        }

        .post {
            background-color: white;
            border: 1px solid @lightGray;
            border-bottom: 3px solid @lightGray;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .head {
                padding: 15px;
                border-bottom: 1px solid @lightGray;

                .info {
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;

                    .name {
                        flex: 1;
                        margin-left: 15px;
                    }

                    .score {
                        h1 {
                            color: @darkPurple;
                        }
                    }
                }

                .content {
                    padding: 10px 0;
                }

                .buttons {
                    padding: 10px 0;

                    a {
                        border-radius: 3px;
                        margin-right: 10px;
                        padding: 5px;
                    }

                    .like {
                        color: @darkPurple;
                    }

                    .liked {
                        background-color: @darkPurple;
                        color: white;
                    }

                    .like:hover {
                        color: white;
                        cursor: pointer;
                        background-color: @darkPurple;
                    }

                    .dislike {
                        color: @mediumPurple;
                    }

                    .disliked {
                        background-color: @mediumPurple;
                        color: white;
                    }

                    .dislike:hover {
                        color: white;
                        cursor: pointer;
                        background-color: @mediumPurple;
                    }
                }
            }

            .commentSection {
                display: flex;
                flex-direction: column;
                height: auto;

                .comment {
                    background-color: @white;
                    border-bottom: 1px solid @lightGray;
                    display: flex;
                    flex-direction: row;
                    padding: 15px;

                    .content {
                        margin-left: 15px;
                        flex: 1;

                        h4 {
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .userComment {
                border-bottom: 1px solid @lightGray;
                display: flex;
                flex-direction: row;
                padding: 15px;
            }

            .submitComment {
                padding: 15px;
                text-align: center;
            }

            .submitComment:hover {
                background-color: @darkPurple;
                cursor: pointer;

                h5 {
                    color: white;
                }
            }
        }
    }

    .right {
        flex: 1;
        flex-direction: column;

        .trends-panel {
            border-radius: 3px;
            border: 1px solid @lightGray;
            padding: 15px;
        }

        h2 {
                margin-bottom: 10px;
            }
    }
}
